<!DOCTYPE html>
<head>
	<title>
		Dashboard
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style__menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/lightbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/color__box.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.colorbox.js') }}"> </script>
    
    <script>
    $(document).ready(function() {
        $(".rsettle").colorbox({ iframe: true, width: "60%", height: "80%", closeButton: true });
        // $(".raddbill").colorbox({ iframe: true, width: "60%", height: "80%", closeButton: true });
        
    });
    </script>

<style>
    .funkyradio{
	margin-top: 40px;
	margin-left: 20px;
}
.amt{
	margin-top: 20px;
}
@import url(http://fonts.googleapis.com/css?family=Oswald);

.well{
	margin-top: 20px;
}

a {color:#fff;}
a:hover {text-decoration:none; color:#fff;}
</style>





<!--End of Style-->

    <!--Beginning of STYLE-->
</head>

<body>
	
        <div class="rhead">
            <span class="rdash"> DASHBOARD</span>
                    <a class = "raddbill" href="/dashboard/add-a-bill" target = "_blank"><button type="button" class="btn btn-hot btn-sm text-uppercase raddbtn">Add a Bill</button></a>
                   <a class="rsettle" href="/dashboard/settleup"> <button type="button" class="btn btn-sunny btn-sm text-uppercase rsettlebtn">Settle Up</button></a>
                </div>

                <table style="width: 100%">
                    <tr>
                        <th>Total Balance</th>
                        <th>You Owe</th>
                        <th> You are Owed</th>
                    </tr>
                     <tr>
                        <td width="33%" id="rtotalbal">
                            {{ net_amount }}
                        </td>
                        <td width="33%" id="rowe">
                            {{ user_owes }}
                        </td>
                        <td width="33%" id="rowed"> 
                            {{ user_is_owed }}
                        </td>
                    </tr>

                </table>
                <div class="rowehead">
                    <span id="rowehd">YOU OWE
                    </span>
                    <span id="rowedhd">YOU ARE OWED
                    </span>
                </div>
                

                <table style="width: 100%" class="rlist side-borders">
                    <tr>
                        <td>
                        {% if friend_user_owes|length == 0 %}
                            <table width = "50%">
                                    {% for key in friends_user_is_owed_by %}
                                     <tr>
                                        <td width="50%" class="rowename">
                                        
                                        </td>
                                    </tr>
                                     <tr>
                                        <td width="50%" class="roweamt"> 
                                            
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>

                        {% else %}

                            <table  width = "50%">

                                {% for key in friends_user_owes %}
                                     <tr>
                                        <td width="50%" class="rowename"><i class="fa fa-tripadvisor" style="font-size:20px"></i>
                                        {{ key }}
                                        </td>
                                    </tr>
                                     <tr>
                                        <td width="50%" class="roweamt"> 
                                            {{ friends_user_owes[key] }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                        </td>


                        <td>  
                            <table>
                                {% for key in friends_user_is_owed_by %}
                                     <tr>
                                        <td width="50%" class="rowedname"><i class="fa fa-tripadvisor" style="font-size:20px"></i>      {{ key }}
                                        </td>
                                     </tr>
                                     <tr>
                                        <td width="50%" class="rowedamt">
                                            {{ friends_user_is_owed_by[key] }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>     
                    </table>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='dash.js') }}"> </script>
        </script>

</body>
</html>


